<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
		<title>Eat The Burger</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/models/burgers.js"></script>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
            
    
    </head>
	<body>
		<div class="burger-img" style="background-image: url(https://images-gmi-pmc.edge-generalmills.com/945f9feb-caea-4c19-9442-8e4df2ced472.jpg); height: 400px; background-size: cover; background-color: #334d4d; background-attachment: fixed; background-position-y: center; background-blend-mode: multiply;">
			<h1 style="margin: 0; color: white; text-align: center; padding-top: 150px; font-weight: 500;">Eat The Burger</h1>
		</div>
        <div class="container">
		{{{ body }}}
        </div>
	</body>
</html>
